.header {
   display: flex;
   justify-content: space-between;
   background-color: #314854;
}

h1 {
    font-family: 'Geostar', cursive;
    font-size: 60px;
    color: antiquewhite;
}
.icon {
    height: 60px;
    border-radius: 100px;
    padding-right: 60px;
}


/*mainここまで*/

h2 {
    font-family: 'Geostar', cursive;
    font-size: 30px;
    color:#314854;
}

.container div{
    background-color: #ccf5ff;
}

.d-flex{
    display: flex;
    justify-content: 
} 
a .active{
    background-color:#e9eaea;
}

.tab-nav {
    display: flex;
  }
  
  .tab-nav li {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #eee;

    list-style: none;
  }
  
  .tab-nav li:first-child {
    border-left: 1px solid #ddd;
  }
  
  .tab-nav li a {
    display: block;
    padding: 5px 10px;
    color: #777;
    text-decoration: none;
  }
  
  .tab-nav li a.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    margin-bottom: -1px;
  }
  
  
  .tab-content > .active {
    display: block;
  }
  
  .tab-content > div {
    display: none;
    padding: 15px;
    height: 100px;
    line-height: 24px;
  }

  .footer-copyright {
      background-color:#314854;
      color: #ddd;
  }